@import url("https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { line-height: 1; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

* { -webkit-box-sizing: border-box; box-sizing: border-box; }

a { text-decoration: none; color: #000; display: block; }

body { font-family: 'Montserrat', sans-serif; font-weight: 400; color: #000; font-size: 16px; }

.container { width: 100%; max-width: 1200px; padding-left: 15px; padding-right: 15px; margin-left: auto; margin-right: auto; }

.row { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; }

.col-xs-12 { width: 100%; }

.col-xs-4 { width: 33.33333%; }

.col-xs-3 { width: 25%; }

.col-xs-6 { width: 50%; }

.col-xs-8 { max-width: 66.66666%; }

.col-xs-1 { width: 8.3333333%; }

/* tablet */
@media (min-width: 768px) { .col-sm-12 { width: 100%; }
  .col-xs-11 { width: 91.6667%; }
  .col-sm-4 { width: 33.33333%; }
  .col-sm-5 { width: 41.66666%; }
  .col-sm-6 { width: 50%; }
  .col-sm-8 { width: 66.666666%; } }

/* laptop */
@media (min-width: 992px) { .col-md-12 { width: 100%; }
  .col-md-7 { width: 58.333333%; }
  .col-md-6 { width: 50%; }
  .col-md-45 { width: 44.94875%; }
  .col-md-55 { width: 55.05125%; } }

/* desktop */
@media (min-width: 1200px) { .col-lg-12 { width: 100%; }
  .col-lg-7 { width: 58.333333%; }
  .col-lg-5 { width: 41.6666666%; } }

.product__wish_btn:hover, .product__view_video:hover, .feedback__post:hover { cursor: pointer; -webkit-box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.37); box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.37); }

.header { border-bottom: 1px solid rgba(0, 0, 0, 0.2); }

.logo { padding-top: 16px; padding-bottom: 16px; }

.logo__img { width: 55px; height: 55px; border-radius: 50px; background-color: rgba(202, 188, 115, 0.69); display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.logo__img div { font-family: 'Jost', sans-serif; font-size: 32px; color: #fff; }

.menu { display: -webkit-box; display: -ms-flexbox; display: flex; margin-top: 35px; }

.menu .navigation { width: 100%; }

.nav__menu { -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.nav__menu li { position: relative; -webkit-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; border-bottom: 2px solid transparent; }

.nav__menu li:hover { padding-bottom: 10px; border-bottom: 2px solid rgba(202, 188, 115, 0.69); }

.nav__menu a { text-transform: uppercase; font-size: 15px; opacity: 0.9; position: relative; }

.nav__menu .sub__menu { width: 250px; background-color: #fff; padding-right: 15px; padding-bottom: 15px; padding-left: 15px; opacity: 0; visibility: hidden; z-index: 10; }

.nav__menu .sub__menu li { margin-top: 10px; padding-bottom: 5px; border-bottom: 2px solid transparent; }

.nav__menu .sub__menu li:hover { border-bottom: 2px solid rgba(202, 188, 115, 0.69); }

.nav__menu .sub__menu li a { line-height: 1.2; }

.nav__menu > li:first-child > a::after, .nav__menu > li:nth-child(2) > a::after { position: absolute; content: ""; display: block; width: 0; height: 0; border-style: solid; border-width: 5px 5px 0 5px; border-color: #0009 transparent transparent transparent; right: -14px; top: 6px; -webkit-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }

.nav__menu > li:first-child:hover > a::after, .nav__menu > li:nth-child(2):hover > a::after { -webkit-transform: rotate(-180deg); -ms-transform: rotate(-180deg); transform: rotate(-180deg); top: 5px; }

.sub__menu { position: absolute; left: -15px; top: 27px; z-index: 10; }

.nav__menu > li:hover > .sub__menu, .sub__menu:hover { opacity: 1; visibility: visible; -webkit-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }

.main { padding-top: 50px; }

.product__title { font-size: 36px; line-height: 44px; padding-bottom: 10px; border-bottom: 1px solid rgba(0, 0, 0, 0.2); }

.product__price { padding-top: 15px; padding-bottom: 10px; line-height: 33px; border-bottom: 1px solid rgba(0, 0, 0, 0.2); color: rgba(202, 188, 115, 0.69); font-weight: 700; font-size: 27px; }

.product__information_block { padding-top: 15px; padding-bottom: 25px; border-bottom: 1px solid rgba(0, 0, 0, 0.2); }

.product__information_title, .feedback__title { margin-bottom: 15px; font-weight: 700; font-size: 18px; text-transform: uppercase; line-height: 22px; opacity: 0.9; }

.product__information { margin-bottom: 15px; line-height: 20px; }

li.product__information { margin-bottom: 0; }

.product__settings .product__information_title { padding-top: 25px; padding-bottom: 21px; margin-bottom: 0; }

.product__color_picker { margin-bottom: 25px; }

.product__pick_btn { margin-right: 20px; width: 33px; height: 33px; border-radius: 50px; -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25); box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25); position: relative; -webkit-transition: all 0.1s ease-in-out; -o-transition: all 0.1s ease-in-out; transition: all 0.1s ease-in-out; }

.product__pick_btn:hover { cursor: pointer; -webkit-box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.37); box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.37); }

.product__pick_btn_inner { width: 25px; height: 25px; border-radius: 50px; position: absolute; top: 4px; left: 4px; }

.green { background-color: #005C41; }

.burgundy { background-color: #660014; }

.midnight_blue { background-color: #00093A; }

.product__buttons_block { -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.product__wish_btn { border-radius: 3px; color: #fff; text-transform: uppercase; outline: none; font-family: 'Montserrat', sans-serif; border: none; font-weight: 700; background-color: #85C958; padding: 15px 35px; font-size: 18px; -webkit-transition: all 0.1s ease-in-out; -o-transition: all 0.1s ease-in-out; transition: all 0.1s ease-in-out; margin-right: 25px; }

.product__view_video { border-radius: 3px; color: #fff; text-transform: uppercase; outline: none; font-family: 'Montserrat', sans-serif; border: none; font-weight: 700; background-color: rgba(202, 188, 115, 0.69); padding: 12px 32px 15px 32px; font-size: 16px; -webkit-transition: all 0.1s ease-in-out; -o-transition: all 0.1s ease-in-out; transition: all 0.1s ease-in-out; }

.product__size_block { -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; padding: 25px 0; border-bottom: 1px solid rgba(0, 0, 0, 0.2); }

.product__size_calculate_wrapper, .product__size_chart_wrapper { -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.product__size_calculate_pic { height: 31px; width: 13px; background-image: url(/img/dress.svg); background-size: 100%; margin-right: 10px; }

.product__size_calculate_title, .product__size_chart_title { line-height: 20px; opacity: 0.7; }

.product__size_chart_pic { height: 28px; width: 31px; background-image: url(/img/size-chart.svg); background-size: 100%; margin-left: 5px; }

.product__social_block .product__information:first-child { padding-top: 15px; padding-bottom: 10px; border-bottom: 1px solid rgba(0, 0, 0, 0.2); }

.product__social_block .product__information:first-child a { display: inline; color: #6363f5; }

.product__social_block .product__information:first-child a:hover { text-decoration: underline; }

.product__social_block .product__information:nth-child(2) { padding: 0; margin-top: 25px; margin-bottom: 20px; }

.product__social_items_block { -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.product__social_items_block .product__social_network { position: relative; color: #fff; font-weight: 400; line-height: 12px; }

.product__social_items_block .product__social_network:before { position: absolute; content: ""; display: block; background-size: 100%; }

.product__social_items_block .product__social_network:hover { cursor: pointer; -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25); box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25); }

.product__social_items_block .facebook { border-radius: 3px; color: #fff; text-transform: capitalize; outline: none; font-family: 'Montserrat', sans-serif; border: none; font-weight: 400; background-color: #306199; padding: 5px 7px 5px 16px; font-size: 12px; -webkit-transition: all 0.1s ease-in-out; -o-transition: all 0.1s ease-in-out; transition: all 0.1s ease-in-out; }

.product__social_items_block .facebook:before { width: 6px; height: 10px; background-image: url(/img/fasebook.svg); top: 6px; left: 5px; }

.product__social_items_block .twitter { border-radius: 3px; color: #fff; text-transform: capitalize; outline: none; font-family: 'Montserrat', sans-serif; border: none; font-weight: 400; background-color: #26C4F1; padding: 5px 7px 5px 18px; font-size: 10px; -webkit-transition: all 0.1s ease-in-out; -o-transition: all 0.1s ease-in-out; transition: all 0.1s ease-in-out; }

.product__social_items_block .twitter:before { width: 10px; height: 8.5px; background-image: url(/img/twitter.svg); top: 6px; left: 5px; }

.product__social_items_block .google { border-radius: 3px; color: #fff; text-transform: capitalize; outline: none; font-family: 'Montserrat', sans-serif; border: none; font-weight: 400; background-color: #E93F2E; padding: 5px 7px 5px 22px; font-size: 10px; -webkit-transition: all 0.1s ease-in-out; -o-transition: all 0.1s ease-in-out; transition: all 0.1s ease-in-out; }

.product__social_items_block .google::before { width: 15px; height: 15px; background-image: url(/img/google-plus.svg); top: 3px; left: 4px; }

.product__social_items_block .pinterest { border-radius: 3px; color: #fff; text-transform: capitalize; outline: none; font-family: 'Montserrat', sans-serif; border: none; font-weight: 400; background-color: #B81621; padding: 5px 7px 5px 20px; font-size: 10px; -webkit-transition: all 0.1s ease-in-out; -o-transition: all 0.1s ease-in-out; transition: all 0.1s ease-in-out; }

.product__social_items_block .pinterest::before { width: 12px; height: 12px; background-image: url(/img/pinterest.svg); top: 5px; left: 5px; }

.product__social_items_block .youtube { border-radius: 3px; color: #fff; text-transform: capitalize; outline: none; font-family: 'Montserrat', sans-serif; border: none; font-weight: 400; background-color: #DF1C31; padding: 5px 7px 5px 20px; font-size: 10px; -webkit-transition: all 0.1s ease-in-out; -o-transition: all 0.1s ease-in-out; transition: all 0.1s ease-in-out; }

.product__social_items_block .youtube::before { width: 13px; height: 11px; background-image: url(/img/youtube-logo.svg); top: 4px; left: 5px; }

.product__social_items_block .instagram { border-radius: 3px; color: #fff; text-transform: capitalize; outline: none; font-family: 'Montserrat', sans-serif; border: none; font-weight: 400; background-color: #DF1C31; padding: 5px 7px 5px 20px; font-size: 10px; -webkit-transition: all 0.1s ease-in-out; -o-transition: all 0.1s ease-in-out; transition: all 0.1s ease-in-out; }

.product__social_items_block .instagram:before { width: 12px; height: 12px; background-image: url(/img/instagram.svg); top: 5px; left: 5px; }

.video { margin-top: 100px; border-bottom: 1px solid rgba(0, 0, 0, 0.2); }

.video_content { width: 100%; height: auto; }

.video_wrapper iframe { margin-bottom: 50px; -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25); box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25); border-radius: 3px; }

.feedback > .container { -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

.feedback__title { margin-top: 25px; margin-bottom: 25px; }

.feedback input { margin-right: 25px; width: 370px; padding-top: 9px; padding-bottom: 10px; padding-left: 15px; border: 1px solid rgba(0, 0, 0, 0.2); border-radius: 3px; }

.feedback input::-webkit-input-placeholder { color: rgba(0, 0, 0, 0.35); font-size: 14px; line-height: 17px; }

.feedback input:-ms-input-placeholder { color: rgba(0, 0, 0, 0.35); font-size: 14px; line-height: 17px; }

.feedback input::-ms-input-placeholder { color: rgba(0, 0, 0, 0.35); font-size: 14px; line-height: 17px; }

.feedback input::placeholder { color: rgba(0, 0, 0, 0.35); font-size: 14px; line-height: 17px; }

.feedback input:focus { outline: none; opacity: 0.7; line-height: 17px; -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25); box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25); }

.feedback__post { border-radius: 3px; color: #fff; text-transform: uppercase; outline: none; font-family: 'Montserrat', sans-serif; border: none; font-weight: 700; background-color: #85C958; padding: 15px 35px; font-size: 18px; -webkit-transition: all 0.1s ease-in-out; -o-transition: all 0.1s ease-in-out; transition: all 0.1s ease-in-out; }

.feedback form { margin-bottom: 100px; }

.feedback { margin-top: 65px; border-top: 1px solid rgba(0, 0, 0, 0.2); border-bottom: 1px solid rgba(0, 0, 0, 0.2); }

.footer { border-bottom: 1px solid rgba(0, 0, 0, 0.2); }

.footer__social_block { -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; margin-top: 25px; margin-bottom: 50px; }

.footer__social_block a { margin-right: 20px; }

.footer__social_item { width: 45px; height: 45px; background-color: #C4C4C4; border-radius: 50px; position: relative; -webkit-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }

.footer__social_item .footer__social_inner { position: absolute; background-size: 100%; background-repeat: no-repeat; }

.footer__social_item .footer__inner_skype { background-image: url(/img/skype_footer.svg); width: 25px; height: 25px; top: 10px; left: 10px; }

.footer__social_item .footer__inner_twitter { background-image: url(/img/twitter_footer.svg); width: 25px; height: 20px; left: 11px; top: 12px; }

.footer__social_item .footer__inner_facebook { background-image: url(/img/facebook_footer.svg); height: 25px; width: 13px; top: 11px; left: 16px; }

.footer__social_item .footer__inner_linkedin { background-image: url(/img/linkedin_footer.svg); height: 25px; width: 25px; top: 9px; left: 10px; }

.footer__social_item .footer__inner_pinterest { background-image: url(/img/pinterest_footer.svg); height: 25px; width: 25px; top: 10px; left: 10px; }

.footer__social_item .footer__inner_youtube { background-image: url(/img/youtube_footer.svg); height: 29px; width: 25px; top: 7.5px; left: 10px; }

.footer__social_item .footer__inner_instagram { background-image: url(/img/instagram_footer.svg); width: 25px; height: 25px; top: 10px; left: 10px; }

.footer__skype:hover { background-color: #12A5F4; }

.footer__twitter:hover { background-color: #019AD1; }

.footer__facebook:hover { background-color: #3B5998; }

.footer__linkedin:hover { background-color: #0E76A8; }

.footer__pinterest:hover { background-color: #AB171E; }

.footer__youtube:hover, .footer__instagram:hover { background-color: #b31217; }

.footer__content { margin-bottom: 100px; }

.footer__content .footer__content_help, .footer__content .footer__content_policies, .footer__content .footer__content_information, .footer__content .footer__content_about { padding-left: 10px; padding-right: 10px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; text-align: center; }

.footer__content h4 { display: block; font-size: 16px; color: rgba(0, 0, 0, 0.7); width: 100%; line-height: 20px; margin-bottom: 15px; border-bottom: 2px solid transparent; -webkit-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }

.footer__content h4:hover { border-bottom: 2px solid rgba(202, 188, 115, 0.69); }

.footer__content_title { font-weight: 700; font-size: 18px; line-height: 22px; color: rgba(0, 0, 0, 0.9); text-transform: uppercase; padding-bottom: 10px; border-bottom: 2px solid rgba(202, 188, 115, 0.69); width: 75%; margin-bottom: 15px; }

.copyright { line-height: 20px; color: rgba(0, 0, 0, 0.7); text-align: center; margin-bottom: 20px; }

.to_top { margin-left: auto; margin-right: auto; margin-bottom: 25px; width: 15px; height: 15px; border-right: 4px solid rgba(0, 0, 0, 0.4); border-bottom: 4px solid rgba(0, 0, 0, 0.4); -webkit-transform: rotate(-135deg); -ms-transform: rotate(-135deg); transform: rotate(-135deg); }

.to_top:hover { cursor: pointer; }
