
@import "reset.scss";
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap');
@import "grid.scss";

$orange:rgba(202, 188, 115, 0.69);
$green:#85C958;
$border:1px solid rgba(0, 0, 0, 0.2);
$transition: all 0.3s ease-in-out;
// picker colors
$pickerGreen:#005C41;
$pickerBurgundy:#660014;
$pickerMidnightBlue:#00093A;
// action buttons
@mixin action_btn($background-color, $padding, $font-size,$font-weight, $text-transform ){
    
    border-radius: 3px;
    color: #fff;
    text-transform: $text-transform;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    border: none;
    font-weight: $font-weight;
    
    background-color: $background-color;
    padding:$padding;
    font-size: $font-size;
    transition: all 0.1s ease-in-out;
    
}

// button hover 
%btnMiddleHover{
    cursor: pointer;
    box-shadow: (3px 3px 20px rgba(0, 0, 0, 0.37));
}






// header
.header{
    border-bottom: $border;
    position: sticky;
    top: 0;
    z-index: 40;
    background-color: #fff;
}
.logo{
    padding-top: 16px;
    padding-bottom: 16px;
}
.logo__img{
    width: 55px;
    height: 55px;
    border-radius: 50px;
    background-color: $orange;
    display: flex;
    justify-content: center;
    align-items: center;
    div{
        font-family: 'Jost', sans-serif;
        font-size: 32px;
        color: #fff;
    }
}

// menu

.menu{
    display: flex;
    
    margin-top: 35px;
    justify-content: flex-end;
    .navigation{
        width: 100%;
        // display: none;
        position: fixed;
        top: 87px;
        right: 0;
        bottom: 0;
        max-width: 200px;
        transition: $transition;
        background-color: #ffffff;
        z-index: 30;
        opacity: 1;
        visibility: visible;
        box-shadow: (0px 14px 9px 3px rgba(0, 0, 0, 0.37));
    }


        
    
    .hidden_menu{
        transform: translateX(150%);
        opacity: 0;
        visibility: hidden;
    }
}
.nav__menu{
    justify-content: space-between;
    flex-direction: column;
    margin-top: 40px;
    text-align: end;
    li{
        position: relative;
        transition: $transition;
        border-bottom: 2px solid transparent;
        margin-bottom: 20px;
        padding-right: 15px;
        &:hover{
            padding-bottom: 10px;
            border-bottom: 2px solid $orange;
        }
        
    }
    a{
        text-transform: uppercase;
        font-size: 17px;
        opacity: 0.9;  
        position: relative; 
        color: rgb(0, 0, 0);
        
        
        
        
    }

    .sub__menu{
        width: 250px;
        background-color: #fff;
        padding-right: 15px;
        padding-bottom: 15px;
        padding-left: 15px;
        opacity: 0;
        visibility: hidden;
        z-index: 10;
        li {
            margin-top: 10px;
            padding-bottom: 5px;
            border-bottom: 2px solid transparent;
            &:hover{
                border-bottom: 2px solid $orange;
            }
            a{
                line-height: 1.2;
            }
        }
    }
    
}
.nav__menu>li:first-child>a::after, .nav__menu>li:nth-child(2)>a::after{
    position: absolute;
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: #0009 transparent transparent transparent;
    right: 130px;
    
    top: 5px;
    transition: $transition;
}
.nav__menu>li:first-child:hover >a::after, .nav__menu>li:nth-child(2):hover >a::after{
    transform: rotate(-180deg);
    top: 5px;
}
.sub__menu{
    position: absolute;
    left: -15px;
    top: 27px;
    z-index: 10;
}

.nav__menu>li:hover> .sub__menu,
.sub__menu:hover{
    opacity: 1;
    visibility: visible;
    transition: $transition;
}

// mobile menu


.nav__mobile_menu{
    display: flex;
    .nav__mobile_menu{
        font-size: 27px;
        opacity: 0.9;
    }
}
.nav__mobile_menu_burger{
    display: block;
    width: 20px;
    height: 20px;
    position: relative;
    margin-left: 10px;
    margin-top: 5px;
    
    span{
        height: 2px;
        background-color: rgb(90, 88, 88);
        position: absolute;
        left: 0;
        right: 0;
        transition: $transition;
        &:nth-child(1){
            top: 3px;
        };
        &:nth-child(2){
            top: 9px;
        };
        &:nth-child(3){
            bottom: 3px;
        }
    }
    
}

.nav__mobile_menu_burger_active{
            span{
        
        &:nth-child(1){
            top: 50%;
            transform: rotate(45deg);
        };
        &:nth-child(2){
            top: 50%;
            transform: rotate(-45deg)
        };
        &:nth-child(3){
            transform: scale(0);
        }
    }
}





// main
.main{
    padding-top: 50px;
}
// slider
.slider{
    padding-right: 50px;
}
.slider img{
    width: 100%;
    height: auto;
    border: none;
}
.main_photo{
    background-color: rgb(33,101,81);
}
.slick-active{
    border: none;
}
.slick-prev{
    z-index: 10;
    left: 20px;
}
.slick-next{
    
    z-index: 10;
    right: 70px;
}

.slick-prev:before,
.slick-next:before{
    content: "";
    display: block;
    font-size: 0;
    width: 20px;
    height: 20px;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;

}
.slick-prev:before{
    transform: rotate(135deg);
}
.slick-next:before{
    transform: rotate(-45deg);
}






.product__title{
    font-size: 36px;
    line-height: 44px;
    padding-bottom: 10px;
    border-bottom: $border;
}
.product__price{
    padding-top: 15px;
    padding-bottom: 10px;
    line-height: 33px;
    border-bottom: $border;
    color: $orange;
    font-weight: 700;
    font-size: 27px;
}
.product__information_block{
    padding-top: 15px;
    padding-bottom: 25px;
    border-bottom: $border;
}
.product__information_title, .feedback__title{
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 22px;
    opacity: 0.9;
}
.product__information{
    margin-bottom: 15px;
    line-height: 20px;
    
}
li.product__information{
    margin-bottom: 0;
}

.product__settings{
    .product__information_title{
        padding-top: 25px;
        padding-bottom: 21px;
        margin-bottom: 0;
    };
    
}

// color picker
.product__color_picker{
    margin-bottom: 25px;
}
.product__pick_btn{
    margin-right: 20px;
    width: 33px;
    height: 33px;
    border-radius: 50px;
    box-shadow: (0px 0px 10px rgba(0, 0, 0, 0.25));
    position: relative;
    transition: all 0.1s ease-in-out;
    &:hover{
        cursor: pointer;
        box-shadow: (1px 1px 20px rgba(0, 0, 0, 0.37));
    
    }
}
.product__pick_btn_inner{
    width: 25px;
    height: 25px;  
    border-radius: 50px; 
    position: absolute;
    top: 4px;
    left: 4px;
}
.green{
        background-color: $pickerGreen;
    }
.burgundy{
    background-color: $pickerBurgundy;
}
.midnight_blue{
    background-color: $pickerMidnightBlue;
}


.product__buttons_block{
    align-items: center;
}
.product__wish_btn{
    @include action_btn($green, 15px 35px, 18px,700, uppercase);
    margin-right: 25px;
    &:hover{
        @extend %btnMiddleHover;
    }
}
.product__view_video{
    @include action_btn($orange, 12px 32px 15px 32px, 16px, 700, uppercase);
    &:hover{
         @extend %btnMiddleHover;
    }
}



.product__size_block{
    justify-content: space-between;
    padding: 25px 0;
    border-bottom: $border;
}

.product__size_calculate_wrapper, .product__size_chart_wrapper{
    align-items: center;
    position: relative;
}
.product__size_chart_wrapper:hover{
    cursor: pointer;
}
.product__size_calculate_pic{
    height: 31px;
    width: 13px;
    background-image: url(../img/dress.svg);
    background-size: 100%;
    margin-right: 10px;
}
.product__size_calculate_title, .product__size_chart_title{
    line-height: 20px;
    opacity: 0.7;
}

.product__size_chart_pic{
    height: 28px;
    width: 31px;
    background-image: url(../img/size-chart.svg);
    background-size: 100%;
    margin-left: 5px;
}
// modal size_chart
.modal_wrapper{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 20;
    display: none;
    
}
.modal__size_chart{
    width: 593px;
    height: 191.5px;
    background-image: url(../img/modal_size_chart.svg);
    background-size: 100%;
    
}
.modal_wrapper_show{
    display: block;
}





.product__social_block{
    .product__information:first-child{
        padding-top: 15px;
        padding-bottom: 10px;
        border-bottom: $border;
        a{
            display: inline;
            
            color:rgb(99, 99, 245) ;
            &:hover{
                text-decoration: underline;
            }
        }
    }
    .product__information:nth-child(2){
        padding: 0;
        margin-top: 25px;
        margin-bottom: 20px;
    }
}

.product__social_items_block{
    justify-content: space-between;
    
    .product__social_network{

        position: relative;
        color: #fff;
        font-weight: 400;
        line-height: 12px;
        
        &:before{
            position: absolute;
            content: "";
            display: block;
            background-size: 100%;
        }
        &:hover{
        cursor: pointer;
        box-shadow: (0px 0px 10px rgba(0, 0, 0, 0.25));
        
    }
    }

    .facebook{
        @include action_btn(#306199, 5px 7px 5px 16px, 12px, 400, capitalize);
        
        &:before{
            width: 6px;
            height: 10px;
            background-image: url(../img/fasebook.svg);
            top: 6px;
            left: 5px;
        }
    }

    .twitter{
        @include action_btn(#26C4F1, 5px 7px 5px 18px, 10px, 400, capitalize);

        &:before{
            width: 10px;
            height: 8.5px;
            background-image: url(../img/twitter.svg);
            top: 6px;
            left: 5px;
        }
    }

    

    .pinterest{
        @include action_btn(#B81621, 5px 7px 5px 20px, 10px, 400, capitalize);
        &::before{
            width: 12px;
            height: 12px;
            background-image: url(../img/pinterest.svg);
            top: 5px;
            left: 5px;
        }
    }

    .youtube{
        @include action_btn(#DF1C31, 5px 7px 5px 20px, 10px, 400, capitalize);
        &::before{
            width: 13px;
            height: 11px;
            background-image: url(../img/youtube-logo.svg);
            top: 4px;
            left: 5px;
        }
    }

    .instagram{
        @include action_btn(#DF1C31, 5px 7px 5px 20px, 10px, 400, capitalize);
        &:before{
            width: 12px;
            height: 12px;
            background-image: url(../img/instagram.svg);
            top: 5px;
            left: 5px;
        }
    }


    

    
}





// section video
.video{
    margin-top: 100px;
    border-bottom: $border;
}

.video_content{
    width: 100%;
    height: auto;
}
.video_wrapper{
    iframe{
        margin-bottom: 50px;
        box-shadow:  0px 0px 20px rgba(0, 0, 0, 0.25);
        border-radius: 3px;
    };

}


// section subscribe
.feedback>.container{
    align-items: center;
    flex-direction: column;
}
.feedback__title{
    margin-top: 25px;
    margin-bottom: 25px;
}

.feedback input{
    margin-right: 25px;
    width: 370px;
    padding-top: 9px;
    padding-bottom: 10px;
    padding-left: 15px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    &::placeholder{
        color: rgba(0, 0, 0, 0.35);
        font-size: 14px;
        line-height: 17px;
        
    }
    &:focus{
        outline: none;
        opacity: 0.7;
        line-height: 17px;
        box-shadow: (0px 0px 10px rgba(0, 0, 0, 0.25));
    }
}
.feedback__post{
    @include action_btn($green, 15px 35px, 18px, 700, uppercase);
    &:hover{
         @extend %btnMiddleHover;
    }
}
.feedback form{
    margin-bottom: 100px;
    
}
.feedback{
    margin-top: 65px;
    border-top: $border;
    border-bottom: $border;
}


// footer
.footer{
    border-bottom: $border;
    margin-bottom: 25px;
}
.footer__social_block{
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 50px;
    a{
        margin-right: 20px;
    }
}


.footer__social_item{
    width: 45px;
    height: 45px;
    background-color: #C4C4C4;
    border-radius: 50px;
    position: relative;
    transition: $transition;
    .footer__social_inner{
        position: absolute;
        background-size: 100%;
        background-repeat: no-repeat;
    };
    .footer__inner_skype{
        background-image: url(../img/skype_footer.svg);
        
        width: 25px;
        height: 25px;
        top: 10px;
        left: 10px;
    }
    .footer__inner_twitter{
        background-image: url(../img/twitter_footer.svg);
        width: 25px;
        height: 20px;
        left: 11px;
        top: 12px;
    }
    .footer__inner_facebook{
        background-image: url(../img/facebook_footer.svg);
        height: 25px;
        width: 13px;
        top: 11px;
        left: 16px;
    }
    .footer__inner_linkedin{
        background-image: url(../img/linkedin_footer.svg);
        height: 25px;
        width: 25px;
        top: 9px;
        left: 10px;
    }
    .footer__inner_pinterest{
        background-image: url(../img/pinterest_footer.svg);
        height: 25px;
        width: 25px;
        top: 10px;
        left: 10px;
    }
    .footer__inner_youtube{
        background-image: url(../img/youtube_footer.svg);
        height: 29px;
        width: 25px;
        top: 7.5px;
        left: 10px;
    }
    .footer__inner_instagram{
        background-image: url(../img/instagram_footer.svg);
        width: 25px;
        height: 25px;
        top: 10px;
        left: 10px;
    }
}

.footer__skype:hover{
    background-color: #12A5F4;

}
.footer__twitter:hover{
    background-color: #019AD1;

}
.footer__facebook:hover{
    background-color: #3B5998;

}
.footer__linkedin:hover{
    background-color: #0E76A8;
}

.footer__pinterest:hover{
    background-color: #AB171E;
}
.footer__youtube:hover, .footer__instagram:hover{
    background-color: #b31217;
}


// footer content
.footer__content{
    margin-bottom: 100px;
    .footer__content_help, .footer__content_policies, .footer__content_information, .footer__content_about{
       padding-left: 10px;
       padding-right: 10px;
       display: flex;
       flex-direction: column;
       align-items: center;
       text-align: center;
    }
    
    h4{
        display: block;
        font-size: 16px;
        color: rgba(0, 0, 0, 0.7);
        width: 100%;
        line-height: 20px;
        margin-bottom: 15px;
        border-bottom: 2px solid transparent;
        transition: $transition;
        &:hover{
            border-bottom: 2px solid $orange;
            
        }
    }
}
.footer__content_title{
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.9);
    text-transform: uppercase;
    padding-bottom: 10px;
    border-bottom: 2px solid $orange;
    width: 75%;
    margin-bottom: 15px;
    
}
.copyright{
    line-height: 20px;
    color: rgba(0, 0, 0, 0.7);
    text-align: center;
    margin-bottom: 20px;
}
.to_top{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    width: 15px;
    height: 15px;
    border-right: 4px solid rgba(0, 0, 0, 0.4);
    border-bottom: 4px solid rgba(0, 0, 0, 0.4);
    transform: rotate(-135deg);
    &:hover{
        cursor: pointer;
    }
}


















/* tablet */
@media(min-width:768px){


}



/* laptop */
@media(min-width:992px){
    .menu{
    justify-content: flex-start;
        .navigation{
            position: static;
            display: block;
            max-width: none;
            background-color: transparent;
            z-index: 1;
            opacity: 1;
            box-shadow: none;
        }
        .hidden_menu{
            transform: none;
            opacity: 1;
            visibility: visible;
            
        }
    }
    .nav__menu{
        flex-direction: row;
        margin-top: 0;
        text-align: start;
        li{
            margin-bottom: 0;
            padding-right: 0;
        };
        a{
            color: #000;
            font-size: 15px;
        }
    }
    .nav__menu a{
        font-size: 12px;
    }

    .nav__menu>li:first-child>a::after, .nav__menu>li:nth-child(2)>a::after{
        right: -14px;
    }



    .product__wish_btn{
        padding: 12px 30px;
        font-size: 16px;
    }
    .product__view_video{
        padding: 9px 29px 12px 29px;
        font-size: 14px;
    }
    .feedback__post{
        padding: 13px 32px;
        font-size: 16px;
    }
    .footer__content_title{
        font-size: 15px;
    }

    .nav__mobile_menu{
        display: none;
    }

}






/* desktop */
@media(min-width:1200px){

    .nav__menu a{
        font-size: 15px;
    }

    .product__wish_btn{
        padding: 15px 35px;
        font-size: 18px;
    }
    .product__view_video{
        padding: 12px 32px 15px 32px;
        font-size: 16px;
    }
    .feedback__post{
        padding: 15px 35px;
        font-size: 18px;
    }
    .footer__content_title{
        font-size: 18px;
    }

}





/* mobile */
@media(max-width:767px){

   

}



